@font-face {
    font-family: 'RockyMutation';
    src: url('RockyMutation.woff2') format('woff2'),
        url('RockyMutation.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

